/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: magenta;
}

.section_center {
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: center;

}

/* GLOBAL CLASSES */

header p:first-child {
  cursor: pointer;
}


/* Intro: Coding Quiz Challenge */

#intro_start h1,
#intro_start h2 {
  padding: 20px;

}

#intro_start button,
#lastButtons button {
  padding: 10px;
  background-color: rgb(64, 8, 177);
  color: white;
  border-radius: 30px;
}

#intro_start button:hover,
#lastButtons button:hover {
  background-color: white;
  color: black;
}

/* Question Layout */

#question_text {
  padding: 20px;
  font-size: 40px;

}

#question_section button {

  padding: 10px;
  background-color: rgb(64, 8, 177);
  color: white;
  border-radius: 30px;
}

#question_section button:hover {
  background-color: white;
  color: black;
}

#question_section {
  align-items: start;
}

button {
  font-size: 20px;
  margin: 6px;
}

#gameOver {
  font-size: 100px;
  color: red;
  background-color: black;
}

#input_initials {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: grey;
}

form button {
  padding: 10px;
  background-color: rgb(64, 8, 177);
  color: white;
  border-radius: 10px;
}

form button:hover {
  background-color: white;
  color: black;
}